<h1 class="text-center">Identifiers</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Identifier Name</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
    <% @identifiers.each_with_index do |identifier, idx| %>
      <tr>
        <td><%= idx + 1 %></td>
        <td><%= identifier.name.presence || 'UnNamed Identifier' %></td>
        <td><%= link_to "View Datas", identifier_path(identifier), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


<%= link_to 'Upload CSV', new_identifiers_path %>